<h1>Counter Index</h1>

<div>
    Start here
    <form action="/count" method="POST">
        <div class="counter">
            {{counter}}
        </div>
        <div class="btn">
            <input type="submit" value="Press button to count">
        </div>
    </form>
</div>